h1 {
    color: white ;
    margin: 20px 20px 20px 20px;
}

p {
    color: white;
    margin: 20px 20px 20px 20px;
}


html {
    background-color: black;
}

.parallax {
    background-image: url("/img/Bike-Team.jpg");
    

    height: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

    .parallaxText {
        height: 1000px;
        background-color:grey ;
        font-size: 36px
    
}
