h1 {
    color: white ;
    margin: 20px 20px 20px 20px;
}

.fine-print {
    font-size: 5px
    color: white;
}

p {
    color: white;
    margin: 20px 20px 20px 20px;
}


html {
    background-color: black;
}

.parallax {
    background-image: url('/img/Bike-Team.jpg');


    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

    .parallaxText {
        height: 1000px;
        background-color:black ;
        font-size: 36px

}

a:hover {
    color: hotpink;
}

.pic {
  margin-left: 20px;
  max-width: 90%;
  height: auto;
  width: auto\9; /* ie8 */
}

.button {
margin: 50px 50px 50px 1000px;
background-color: Green; /* Green */
border: none;
color: Green;
text-align: center;
padding: 25px;
text-decoration: none;
display: inline-block;
font-size: 30px;
}

.button1 {
margin: 50px 50px 50px 50px;
background-color: Blue; /* Green */
border: none;
color: Blue;
text-align: center;
padding: 25px;
text-decoration: none;
display: inline-block;
font-size: 30px;
}

div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}

div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;
}

postition-1 {
    position: absolute;
    left: 60px;
    top: 0px;
    z-index: 0;
}

postition-0 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

div.fontpixel{
    width:400px;
    height:300px;
}

.frame {
    display: block;
    width: 100;
    height: 400;
    max-width: 1080;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

.calendar-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.calendar-container-iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.absolute1 {
    position: absolute;
    top: 0px;
    left: 90px;
}

